
body {
    background-color: rgba(39, 13, 18, 0.788);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 100vh;
    background-color: gray;

}

.navbar {
    display: flex;
    z-index: 1;
    position: fixed;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 136px;
    background-color: white;
    border-start-start-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 50px;
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.50);
}

.logo {
  /*  background-color: blue; */
    display: flex;
    justify-content: center;
}

.logo1 {
   /* background-color: antiquewhite; */
    display: flex;
    background-image: url(/public/Hero/Logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.logo2 {
    display: flex;
    background-image: url(/public/Hero/Group.svg);
    background-repeat: no-repeat;
    height: 100px;
    width: 190px;
    margin-left: 20px;
    margin-top: 50px;

}

.logo3 {
    display: flex;
    background-image: url(/public/Hero/Gmbh.svg);
    background-repeat: no-repeat;
    height: 100px;
    width: 250px;
    margin-top: 60px;
}

.logo4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 100px;
    margin-top: 20px;
    margin-right: 20px;
}

.logo4 a {
    color: gray;
}

.underline {
    color: rgba(160, 189, 60, 1);
    font-size: 21px;
    margin-top: 40px;
    letter-spacing: 5px;
}

.navItems {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 25px;
    
}

.navItems a {
    color: black;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navItemsList {

    display: flex;
    margin-right: 50px;
}

a {
    text-decoration: none;
}

/*     ********* HERO ********   */

.hero {
    display: flex;
    flex-direction: column;
    width: 1780px;
    height: 1080px;
    background-image: url(/public/Hero/43f2f0b733974dab02cbd7d64660b1a9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.description1 {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 400px;
    margin-left: 900px;
}

.write1 {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 50px;
    opacity: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.write2 {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 600;
    opacity: 90%;
}

.description2 {
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-right: 300px;
    color: white;
    font-size: 20px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text1 {
    opacity: 70%;
}

.button1 {
    display: flex;
}




 /* **************** ABOUT US ************* */

 .about1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 1080px;
    background-color: white;
 }

 .about2 {
    display: flex;
    background-image: url(/public/Hero/office.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 600px;
    border-top-right-radius: 600px;
    height: 500px;
    width: 816px;
    padding: 0;
 }

 .about3 {
display: flex;
flex-direction: column;
width: 592px;
margin-right: 150px;
 }

 .aboutButton {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: #A0BD3C;
    color: white;
    font-size: 20px;
 }